<footer class="footer-area pt-60 pb-60 black-bg" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="index.html">SpeedConstruct </a>
                    </div>
                    <div class="footer-dec">
                        <p>
                            ตัวแทนจำหน่ายวัสดุตกแต่งอาคารคุณภาพสูง เพื่อสร้างสรรค์ผลงานสถาปัตยกรรมอันทรงคุณค่า 
                            มีความสำนึกรับผิดชอบต่อหน้าที่ และปฏิบัติงานด้วยความซื่อสัตย์สุจริต 
                            เปิดใจกับการเรียนรู้สิ่งใหม่ๆ และพัฒนาศักยภาพของตนเพื่อความเป็นเลิศอยู่เสมอ
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="widget-title">
                        <h6>ติดต่อเรา</h6>
                    </div>
                    <div class="address-line">
                        <p>101/107 ถ.กาญจนาภิเษก ต.บางคูเวียง อ.บางกรวย จ.นนทบุรี</p>
                        <p>Phone: 081-1427738, 02-0416878</p>
                        <p>Fax: 02-0416878</p>
                        <p>Email: <a href="mailto:speedconstruction2553@gmail.com">speedconstruction2553@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="widget-title">
                        <h6>รับข่าวสาร</h6>
                    </div>
                    <div class="newsletter-text">
                        <p>สมัครรับจดหมายข่าวและรับทราบข่าวสารและกิจกรรมของเรา</p>
                    </div>
                    <form action="index.html" class="newsletter-form">
                        <input type="email" placeholder="Your email">
                        <input class="btn newsletter-btn" type="submit" value="Subscribe">
                    </form>
                </div>
            </div>            
        </div>
    </div>
</footer>
<!-- End Footer Area -->
<!-- End Copyright Area -->
<div class="copyright-area black-bg">
    <div class="container">
        <div class="row ">
            <div class="col-12 text-center">
                <div class="copyright-area ">
                    <p>Copyright © 2021 Designed by <a href="https://www.wpfreecloud.com">wpfreecloud.com</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>