<nav class="header-area fixed-top bg-white border-bottom" style="margin-bottom: -20px; height:15%">
  <div class="container">
      <div class="header-wrapper">
          <div class="row">
              <div class="col-lg-3 col-6">
                  <div class="site-logo">
                      <h2>SpeedConstruct</h2>
                      <a data-toggle="tooltip" title="SpeedConstruct" href="/"></a>
                  </div>
              </div>
              <div class="col-6 d-lg-none static text-right">
                  <div class="show-mobile-menu"></div>
              </div>
              <div class="col-lg-9 text-right d-none d-lg-block">
                  <nav class="menu-wrapper">
                      <ul class="main-menu" id="mobile-menu">
                          <li class="active"><a href="#">หน้าแรก</a></li>
                          <li><a href="#feature">บริการ</a></li>
                          <li><a href="#portfolio">ผลงาน</a></li>
                          <li><a href="#character">คุณสมบัติ</a></li>
                          <li><a href="#contact-us">ติดต่อเรา</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
</nav>